<html>
<head>
<style>

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

</style>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

var width = 960,
    height = 500;

var y = d3.scale.linear()
    .range([height, 0]);

//var chart = d3.select(".chart")
//    .attr("width", width)
//    .attr("height", height);

//d3.json("http://localhost:5000/feed/raw_feed", function(error, data) {
//  tweets = data;
//  console.log(tweets);
//});
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
<script type="text/javascript">
    
    var queue = [];
    
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function(msg) {  
        console.log("Connected to Server.");
    });
    
    socket.on('json', function(msg) {  
        //console.log("hi");
        //console.log(msg);
        //console.log(JSON.parse(msg));
        var obj = JSON.parse(msg)
        //console.log(obj);
        //n = queue.push(obj);
        queue.push.apply(queue, obj);
        console.log("**NEW**");
        console.log(queue);
        console.log("how many " + queue.length);
        if (queue.length >= 300)
          queue = queue.slice(queue.length - 300);
        //console.log("There are" + n)  
        //d3.select("#log").append("p").text('Received: ' + obj["text"]);
        //d3.select("#log").text('Received: ' + queue.map(function(d) { return d.text + "\n" }));
    });
    
</script>
</head>

<body>
<div id="log"></div>  
</body>    
</html>